.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  color: inherit;
  /* setting to white also works but setting to inherit means we can change it later directly on footer class as well */
}

